/* Navbar */
a.nav-link {
	color: #fff !important;
}

a.nav-link:hover {
	color: #a6843d !important;
	border-bottom: 1px solid #a6843d;
}

.dropdown-item {
	color: #fff !important;
}

.dropdown-item:hover {
	background-color: #a6843d;
}

a.nav-link.active {
	color: #a6843d !important;
	border-bottom: 1px solid #a6843d;
	font-weight: bold;
}

.navbar {
	background-color: #000;
	z-index: 2;
}

.nav-item {
	font-family: Raleway, sans-serif;

}

@media (min-width:1400px) {
	.nav-item {
		margin-right: 20px;
	}
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

#side-menu {
	background: #000 !important;
}

#side-menu .close {
	color: #fff !important;
}

/* navbar */

.col.col-full {
	padding-right: 0px;
}

/* textbanner */
.texthead {
	/* margin-left: 100px;
	position: absolute;
	top: 150px;
	z-index: 1; */
	padding-top:110px;
}

.texthead h5 {
	font-family: Raleway, sans-serif;
	font-weight: bold;
	font-size: 40px;
	color: white;
}

.texthead p {
	font-family: Raleway, sans-serif;
	font-size: 24px;
	margin-right: 20%;
}

@media screen and (min-width:1200px) and (max-width:1400px) {
	.texthead h5 {
		font-size: 24px !important;
	}
}

@media screen and (min-width:1200px) and (max-width:1400px) {
	.texthead p {
		font-size: 18px !important;
		margin-right: 40%;
	}
}

@media screen and (min-width:992px) and (max-width:1199px) {
	.texthead h5 {
		font-size: 16px !important;
	}
}

@media screen and (min-width:992px) and (max-width:1199px) {
	.texthead p {
		font-size: 14px !important;
		margin-right: 40%;
	}
}

@media screen and (min-width:768px) and (max-width:991px) {
	.texthead h5 {
		font-size: 16px !important;
	}
}

@media screen and (min-width:768px) and (max-width:991px) {
	.texthead {
		top: 100px;
		margin-left: 50px;
	}
}

@media screen and (min-width:768px) and (max-width:991px) {
	.texthead p {
		font-size: 14px !important;
		margin-right: 40%;
	}
}

@media screen and (min-width:578px) and (max-width:767px) {
	.texthead h5 {
		font-size: 20px !important;
	}
}

@media screen and (min-width:578px) and (max-width:767px) {
	.texthead {
		top: 100px;
		margin-left: 50px;
	}
}

@media screen and (min-width:578px) and (max-width:757px) {
	.texthead p {
		font-size: 14px !important;
		margin-right: 0;
	}
}

@media screen and (min-width:360px) and (max-width:577px) {
	.texthead h5 {
		font-size: 16px !important;
	}
}

@media screen and (min-width:360px) and (max-width:577px) {
	/* .texthead {
		top: 100px;
		margin-left: 18px;
		margin-right: 16px;
	} */
}

@media screen and (min-width:360px) and (max-width:577px) {
	.texthead p {
		font-size: 12px !important;
		margin-right: 16px;
	}
}
@media screen and (min-width: 992px) and (max-width: 1400px) { 
	.zegen-prod-xs{
		background-color: rgba(0,0,0,.7);
		color: #fff;
		margin-top: 20px;
	}
	.zegen-btn-xs{
		border-color: #fff !important;
		color:#fff !important;
	}
}

@media screen and (min-width: 576px) and (max-width: 992px) { 
	.texthead {
		padding-top: 100px;
	}
	.texthead h5 {
		font-size: 26px !important;
	}
	.texthead p {
		font-size: 22px !important;
	}
	.zegen-prod {
		margin-top: 30px !important;
	}
	.zegen-prod-xs{
		background-color: rgba(0,0,0,.7);
		color: #fff;
		margin-top: 65px;
	}
	.zegen-btn-xs{
		border-color: #fff !important;
		color:#fff !important;
	}
}

@media only screen and (max-width:575px) {
	.texthead {
		padding-top: 100px;
	}
	.texthead h5 {
		font-size: 26px !important;
	}
	.texthead p {
		font-size: 22px !important;
	}
	.zegen-prod {
		margin-top: 30px !important;
	}
	.zegen-prod-xs{
		background-color: rgba(0,0,0,.7);
		color: #fff;
		margin-top: 65px;
	}
	.zegen-btn-xs{
		border-color: #fff !important;
		color:#fff !important;
	}
}
/* textbanner */


/* cardterbang */

.cardterbang {
	margin-top: -120px;
}

/* media cardterbang */


@media screen and (min-width:1200px) and (max-width:1400px) {
	.img-terbang {
		width: 50% !important;
	}
}

@media screen and (min-width:992px) and (max-width:1199px) {
	.cardterbang {
		margin-top: -70px !important;
	}
}

@media screen and (min-width:992px) and (max-width:1199px) {
	.img-terbang {
		width: 50% !important;
	}
}

@media screen and (min-width:768px) and (max-width:991px) {
	.cardterbang {
		margin-top: -70px !important;
	}
}

@media screen and (min-width:768px) and (max-width:991px) {
	.img-terbang {
		width: 50% !important;
	}
}

/* media cardterbang */

.img-terbang {
	width: 60%;
}

/* cardterbang */


/* cardterbang */

.cardterbang1 {
	margin-top: -120px;
}

/* media cardterbang */


@media screen and (min-width:1200px) and (max-width:1400px) {
	.img-terbang1 {
		width: 80% !important;
	}
}

@media screen and (min-width:1200px) and (max-width:1400px) {
	.cardterbang1 {
		margin-top: -98px !important;
	}
}

@media screen and (min-width:992px) and (max-width:1199px) {
	.cardterbang1 {
		margin-top: -55px !important;
	}
}

@media screen and (min-width:992px) and (max-width:1199px) {
	.img-terbang1 {
		width: 80% !important;
	}
}

@media screen and (min-width:768px) and (max-width:991px) {
	.cardterbang1 {
		margin-top: -70px !important;
	}
}

@media screen and (min-width:768px) and (max-width:991px) {
	.img-terbang1 {
		width: 50% !important;
	}
}

/* media cardterbang */

.img-terbang1 {
	width: 90%;
}

/* cardterbang */

/* cardterbang */

.cardterbang2 {
	margin-top: -55px;
}

/* media cardterbang */


@media screen and (min-width:1200px) and (max-width:1400px) {
	.img-terbang2 {
		height: 87px !important;
		width: auto;
	}
}

@media screen and (min-width:1200px) and (max-width:1400px) {
	.cardterbang2 {
		margin-top: -47px !important;
	}
}

@media screen and (min-width:992px) and (max-width:1199px) {
	.cardterbang2 {
		margin-top: -55px !important;
	}
}

@media screen and (min-width:992px) and (max-width:1199px) {
	.img-terbang2 {	
		height: 80px !important;
		width: auto;
	}
}

@media screen and (min-width:768px) and (max-width:991px) {
	.cardterbang2 {
		margin-top: -39px !important;
	}
}

@media screen and (min-width:768px) and (max-width:991px) {
	.img-terbang2 {
		height: 70px !important;
		width: auto;
	}
}

/* media cardterbang */

.img-terbang2 {
	height: 100px;
	width: auto;
}

/* cardterbang */

/* containerboth */
.container-both {
	margin-left: 30px;
	margin-right: 30px;
}

/* containerboth */

/* footer */

.footer-dark {
	padding: 50px 0;
	color: #f0f9ff;
	background-color: #000000;
}

.footer-dark h3 {
	margin-top: 0;
	margin-bottom: 12px;
	font-weight: bold;
	font-size: 24px;
}

.footer-dark ul {
	padding: 0;
	list-style: none;
	line-height: 1.6;
	font-size: 14px;
	margin-bottom: 0;
}

.footer-dark ul a {
	color: inherit;
	text-decoration: none;
	opacity: 0.6;
}

.footer-dark ul a:hover {
	opacity: 0.8;
}

@media (max-width:767px) {
	.footer-dark .item:not(.social) {
		text-align: center;
		padding-bottom: 20px;
	}
}

.footer-dark .item.text {
	margin-bottom: 36px;
}

@media (max-width:767px) {
	.footer-dark .item.text {
		margin-bottom: 0;
	}
}

.footer-dark .item.text p {
	opacity: 0.6;
	margin-bottom: 0;
}

.footer-dark .item.social {
	text-align: center;
}

@media (max-width:991px) {
	.footer-dark .item.social {
		text-align: center;
		margin-top: 20px;
	}
}

.footer-dark .item.social > a {
	font-size: 20px;
	width: 36px;
	height: 36px;
	line-height: 36px;
	display: inline-block;
	text-align: center;
	border-radius: 50%;
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
	margin: 0 8px;
	color: #fff;
	opacity: 0.75;
}

.footer-dark .item.social > a:hover {
	opacity: 0.9;
}

.footer-dark .copyright {
	text-align: center;
	padding-top: 24px;
	opacity: 0.9;
	font-size: 13px;
	margin-bottom: 0;
}

/* footer */

/*index*/

section {
	width: 100%;
	height: 238px;
	border: none;
	overflow: hidden;
}

.img-utama {
	width: 100%;
	height: auto;
	background-repeat: no-repeat;
}

.img-left {
	/*height: 530px;*/
}

.heading {
	font-family: Raleway, sans-serif;
	font-weight: 700;
	color: #d2b35c;
}

#sec-4-galery {
	background-color: #252525;
}

.img-social {
	width: 30px;
	height: auto;
}

.memberarea {
	font-size: 12px;
	color: rgba(255, 255, 255, 0.92);
	font-family: Raleway, sans-serif;
}

/* .zegen-prod {
	position: absolute;
	float: right;
}

.parap-prod {
	position: absolute;
	margin-top: 50px;
	float: right;
} */

.img-full {
	width: 100%;
	height: auto;
}



.text-input {
	width: 100%;
}

.btn-pesan {
	background-color: #a6843d;
	margin-left: 10px;
}

.btn-primary:not(:disabled):not(.disabled):active:focus{
	background-color: #d2b35c;
	border-color: #fff !important;
}

.btn-pesan:hover {
	background-color: #a6843d;
}

.cp-card:hover {
	background: url("images/card-front.jpg") no-repeat;
}

.gradient {
	background-image: linear-gradient(to right, #d9bc61, #9b7441);
}

#youtube {
	background-color: #e1e1e9;
	height: 500px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right;
}

.img-home-sec3{
	width:100%;
	height: 250px;
	object-fit: cover;
}
.img-left{
	height: 700px;
	width:100%;
	object-fit: cover;
}
.img-utama{
	height: 350px;
	object-fit: cover;
}
.home-background-sec3{
	background-color: #1a1a1a; 
	height: 350px;
	padding:30px;
}
.head-news{
	font-family: Raleway, sans-serif;
	font-size: 26px;
	color:#fff;
}
.ket-news{
	font-family: Raleway, sans-serif;
	font-size: 16px;
	color:#fff;
}
.border-news{
	font-family: Raleway, sans-serif;
	font-size: 16px;
	color: goldenrod;
	border: 1px solid goldenrod;
	padding: 10px;
	width: 120px;
	text-align: center;
	margin-top: 170px;
}
.border-news-sec3{
	font-family: Raleway, sans-serif;
	font-size: 16px;
	color: #1a1a1a;
	border: 1px solid #1a1a1a;
	padding: 10px;
	width: 120px;
	text-align: center;
/*	margin-top: 45px;*/
}
.head-home-galleri{
	font-family: Raleway, sans-serif;
	font-size: 16px;
	color: goldenrod;
	margin-top:20px;
}
.ket-home-galleri{
	font-family: Raleway, sans-serif;
	font-size: 12px;
	color: #fff;
	margin-top:5px;
}
.border-home-galleri{
	border-bottom: 1px solid goldenrod;
	width:20%;
}
.head-news-sec2{
	position: absolute;
	left: 40px;
	font-size: 39px;
	font-weight: 700;
	top: 30px;
	color: #fff;
}
.ket-news-sec2{
	position: absolute;
	left: 40px;
	font-size: 18px;
	top: 80px;
	color: #fff;
}
.border-news-sec2{
	position: absolute;
	left: 40px;
	font-family: Raleway, sans-serif;
	font-size: 16px;
	color: #fff;
	border: 1px solid #fff;
	padding: 10px;
	width: 120px;
	text-align: center;
	bottom: 50px;
}
.zegen-prod {
	/* position: absolute;
	right: 39px; */
	margin-top:100px;
	font-family: Raleway, sans-serif;
}

.parap-prod {
	/* position: absolute;
	right: 39px; */
	/* width: 45%; */
	font-family: Raleway, sans-serif;
	margin-top: 50px;
	line-height: 30px;
}
/* Owl Carousel Prod */
.main-content-galeri {
	position: relative;
}
.main-content-galeri  .owl-theme .custom-nav-galeri {
	position: absolute;
	top: 95%;
	left: 35%;
	right: 35%;
}
.main-content-galeri .owl-theme .custom-nav-galeri .owl-prev, .main-content-galeri .owl-theme .custom-nav-galeri .owl-next {
	position: absolute;
	height: 100px;
	color: inherit;
	background: none;
	border: none;
	z-index: 100;
}
.main-content-galeri .owl-theme .custom-nav-galeri .owl-prev i, .main-content-galeri .owl-theme .custom-nav-galeri .owl-next i {
	font-size: 2.5rem;
	color: #007bff;
}
.main-content-galeri .owl-theme .custom-nav-galeri .owl-prev {
	left: 3%;
}
.main-content-galeri .owl-theme .custom-nav-galeri .owl-next {
	right: 3%;
}
.fa-angle-left ,  .fa-angle-right{
	font-size: 45px !important;
	color: #C4A667 !important;
	border: 1px solid #c4a667;
	padding: 5px;
}
/* Owl Carousel Prod */

/* Owl Carousel Homepage */
.main-content {
    position: relative;
}
.main-content .owl-theme .custom-nav {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
}
.main-content .owl-theme .custom-nav .owl-prev, .main-content .owl-theme .custom-nav .owl-next {
    position: absolute;
    height: 100px;
    color: inherit;
    background: none;
    border: none;
    z-index: 100;
}
.main-content .owl-theme .custom-nav .owl-prev i, .main-content .owl-theme .custom-nav .owl-next i {
    font-size: 2.5rem;
    color: #007bff;
}
.main-content .owl-theme .custom-nav .owl-prev {
    left: 3%;
}
.main-content .owl-theme .custom-nav .owl-next {
    right: 3%;
}
.fa-angle-left ,  .fa-angle-right{
    font-size: 85px !important;
    color: #C4A667 !important;
}
/* Owl Carousel Homepage */


/*index*/

/*table*/

.ic_download img{
	width: 100%;
}

.table-responsive{
	float: right;
	margin-top: 50px;
	margin-left: 24px;
}

.nama{
	background-color: #f5f5f5;
	border-radius: 20px;
	font-family: Raleway, sans-serif;
	font-weight: bold;
	font-size: 20px;
/*	padding-top: 28px !important;*/

}

.img_tabel{
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: auto;
	margin-top: 50px;
}

.cell1{
	width: 60%;
	border-radius: 20px;
	font-size: 20px;
}

.cell2{
	width: 40%;
	border-radius: 20px;
	font-size: 20px;
}


@media screen and (min-width:1200px) and (max-width:1400px) {
	.cell1, .cell2 {
	font-size: 18px !important;
	}
}

@media screen and (min-width:1200px) and (max-width:1400px) {
	.nama {
	font-size: 15px !important;
	padding-top: 17px !important;
	}
}

@media screen and (min-width:992px) and (max-width:1299px) {
	.cell1, .cell2 {
	font-size: 13px !important;
	}
}

@media screen and (min-width:992px) and (max-width:1299px) {
	.nama {
	font-size: 13px !important;
	padding-top: 15px !important;
	}
}

@media screen and (min-width:576px) and (max-width:991px) {
	.cell1, .cell2 {
	font-size: 13px !important;
	}
}

@media screen and (min-width:576px) and (max-width:991px) {
	.nama {
	font-size: 13px !important;
	padding-top: 15px !important;
	}
}

@media screen and (min-width:360px) and (max-width:575px) {
	.cell1, .cell2 {
	font-size: 10px !important;
	}
}

@media screen and (min-width:360px) and (max-width:575px) {
	.nama {
	font-size: 10px !important;
	padding-top: 15px !important;
	}
}
/*tabel*/

 .news-single{
        margin-top: 70px;
        border-left: 1px dotted #1a1a1a;
        padding-left: 20px;
        height: auto;
    }
    .head-news-single{
        font-family: Raleway, sans-serif;
        font-weight: 700;
        color: #d2b35c;
        font-size: 45px;
        margin-bottom: 20px;
    }
    .ket-news-single{
        font-family: Raleway, sans-serif;
        font-weight: normal;
        color: #1a1a1a;
        font-size: 18px;
        margin-top:10px;
    }

/*galery*/

	* { box-sizing: border-box; }

	/* force scrollbar */
	html { overflow-y: scroll; }
	body { font-family: sans-serif; }

	/* ---- grid ---- */
	.grid {
		background: #DDD;
	}

	/* clear fix */
	.grid:after {
		content: '';
		display: block;
		clear: both;
	}
.grid {
    background: #fff;
}

	/* ---- .grid-item ---- */

	.grid-sizer,
	.grid-item {
		width: 33.333%;
	}
	.grid-item {
		float: left;
	}
	.grid-item img {
		display: block;
		max-width: 100%;
		padding: 10px;
	}
	@media (max-width: 575px) {
        .grid-sizer,
        .grid-item {
            width: 100%;
        }
    }
    @media (min-width: 576px) and (max-width: 767px) {
        .grid-sizer,
        .grid-item {
            width: 50%;
        }
    }

/*Galery*/
